<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


        <title>
        {% block title_block %}
            PeaEye
        {% endblock %}
        </title>

    <link rel="stylesheet" type="text/css" href={% static 'layui-v2.6.8/layui/css/layui.css' %} >
    <link rel="stylesheet" type="text/css" href={% static 'css/base.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'css/me.css' %}>
    <script src={% static 'layui-v2.6.8/layui/layui.js' %}></script>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJW4jsPlNKgv6jFm3B5Edp5ywgdqLWdmc&sensor=false">
    </script>
    <script src={% static 'javascript/base.js' %}></script>
    </head>


    <body>
        <ul class="layui-nav" >
            <li class="layui-nav-item layui-this">
                <a href={% url 'movie:index' %}>Home</a>
            </li>
            <li class="layui-nav-item">
            <a href={% url 'movie:categories' %}>Categories</a>
            </li>

            {% if user.is_authenticated %}
                <li class="layui-nav-item">
                    <a href="{% url 'movie:me' %}">Me</a>
                </li>
            {% endif %}
        </ul>

        {% comment %} User profile {% endcomment %}
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
            <a href="javascript:;">
                {% if user.is_authenticated %}
                    {{user.username}}
                {% else %}
                    Sign In
                {% endif %}
            </a>
            <dl class="layui-nav-child">
                {% if user.is_authenticated %}
                    <dd><a href="{% url 'movie:logout' %}">Log Out</a></dd>
                {% else %}
                    <dd><a href="{% url 'movie:login' %}">Sign In</a></dd>
                    <dd><a href="{% url 'movie:register' %}">Sign Up</a></dd>
                {% endif %}

            </dl>
            </li>
        </ul>

        {% comment %} search bar {% endcomment %}
        <div class="layui-container" style="padding: 10px;">  
            <div class="layui-row">
                <div class="layui-col-md9" style="color:turquoise; font-size:xx-large; font-weight: bolder;">
                    PeaEye
                </div>
                <div class="layui-col-md3">
                    <div class="layui-input-block">
                        <form method='get' action="{% url 'haystack_search' %}" target="_blank">
                            <input type="text" name="q">
                            <input type="submit" value="search">
                        </form>
                    </div>
                </div>
            </div>
        </div>


    {% if movies or categories%}
        <div class="movie_body" style="padding:30px; background-color:lightgrey;">
            
            {% comment %} Movie block {% endcomment %}
            {% if movies %}
                <div class="viewMovie">
                    <h1 class="movie-title">
                        {% block movies_block %}
                        {% endblock %}
                    </h1>

                    <ul>
                        {% for movie in movies %}
                        <li>
                            <a class="movie-link" href={% url 'movie:show_movie' movie.slug %}>

                                <img src={{MEDIA_URL}}movie_images/{{movie.slug}}.jpg alt="">
                                <h3>{{ movie.title }}</h3>
                            </a>

                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% comment %} categories block {% endcomment %}
            {% if categories %}
            <div class="viewMovie">
                <h1 class="category-title">
                    {% block categories_block %}
                    {% endblock %}
                </h1>

                <ul>
                {% for category in categories %}
                    <li>
                        <a class="movie-link" href={% url 'movie:category' category.slug %}>
                            {% comment %} {% endcomment %}
                            <img src={{MEDIA_URL}}category_images/{{category.name}}.jpg alt="">
                            <h3>
                                {{ category.name }}
                            </h3>
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    {% endif %}


    {% block body_block %}
    {% endblock %}


    </body>
</html>