
{% extends 'movie/base_v.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.name }}



    {% endif %}
{% endblock %}


{% block movies_block %}
    <h1>{{ category.name }}</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'movie:movie_add' category.slug %}">
            <h2>
                Add Movie
            </h2>
        </a>
    {% endif %}
{% endblock %}


{% block body_block %}
    {% if user.is_authenticated %}
        <a href="{% url 'movie:movie_add' category.slug %}">
            <h2>
                Add Movie
            </h2>
        </a>
    {% endif %}
{% endblock %}