{% extends 'movie/base_v.html' %}
{% load staticfiles %}

{% block title_block %}
    All Categories
{% endblock %}


{% block categories_title_block %}
    <h1>
        Categories
    </h1>
    {% if user.is_authenticated %}
        <a href="{% url 'movie:category_add' %}"><h2>Add Category</h2></a>
    {% endif %}
{% endblock %}


{% block categories_info_block %}


    {% for category in categories %}
        <li>
            <a class="category-link" href={% url 'movie:category' category.slug %}>
                {% comment %} {% endcomment %}
                <img class="category-img" src={{MEDIA_URL}}category_images/{{category.name}}.jpg style="width: 180px;" alt="">
                <div class="category-info">
                    <h1>{{ category.name }}</h1> </br>
                    <h1>Likes:{{ category.likes }}</h1> </br>
                    <h1>Views:{{ category.views }}</h1> </br>
                </div>
            </a>
        </li>
    {% endfor %}
{% endblock %}


{% block body_block %}
    {% if user.is_authenticated %}
        <a href="{% url 'movie:category_add' %}"><h2>Add Category</h2></a>
    {% endif %}
{% endblock %}   