{% extends 'movie/base.html' %}
{% load staticfiles %}


{% block title_block %}
    PeaEye
{% endblock %}

{% block movies_block %}
    Most Viewed Movies
{% endblock %}


{% block categories_block %}
    Most Viewed Categories
{% endblock %}

{% block body_block %}
    <div style="display: flex;justify-content: center;align-items: center;">
        <div id="googleMap" class="map" ></div>
    </div>


    <style>
        .map {
            width: 86%; 
            height:380px;
            background-color: #fafafa;
        }
    </style>

{% endblock %}

