<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>index</title>
  <link rel="stylesheet" type="text/css" href="../../static/layui-v2.6.8/layui/css/layui.css">
  <script src="../../static/layui-v2.6.8/layui/layui.js"></script>
  <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJW4jsPlNKgv6jFm3B5Edp5ywgdqLWdmc&sensor=false">
  </script>

    <script>
            layui.use('element', function(){
             var element = layui.element; 
            element.on('nav(demo)', function(elem){
            layer.msg(elem.text());
            });
        });


        function initialize()
        {
        var mapProp = {
        center:new google.maps.LatLng(55.86549,-4.25409),
        zoom:15,
        mapTypeId:google.maps.MapTypeId.ROADMAP
        };
        var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

</head>
<body>



    <ul class="layui-nav" >
        <li class="layui-nav-item layui-this">
            <a href="">Home</a>
        </li>
        <li class="layui-nav-item">
          <a href="">Movies</a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">Ranking List</a>
          </li>
          <li class="layui-nav-item">
            <a href="javascript:;">WashList</a>
          </li>
      </ul>
    
      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item layui-hide layui-show-md-inline-block">
          <a href="javascript:;">
              {{user.username}}
          </a>
          <dl class="layui-nav-child">
            <dd><a href="">Your Profile</a></dd>
            <dd><a href="">Settings</a></dd>
            <dd><a href="">Sign out</a></dd>
          </dl>
        </li>
      </ul>

    <div class="layui-container" style="padding: 10px;">  
        <div class="layui-row">
            <div class="layui-col-md9" style="color:turquoise; font-size:xx-large; font-weight: bolder;">
                PeaEye
            </div>
            <div class="layui-col-md3">
                <div class="layui-input-block">
                    <form action={% url 'movie:search'%} >
                    <input type="text"  class="layui-input" placeholder="search">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="movie_body" style="padding:30px; background-color:lightgrey;">
        <div class="viewMovie">
            <h1 style="font-weight: bolder;">Most View movie</h1>
            {% if movies %}
            <ul>
            {% for movie in movies %}
            <li>
                <a href={% url 'movie:show_movie' movie.slug %}>
                    <img src="../../static/images/rango.jpg" alt="">
                    {{ movie.title }}</a>
            </li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="viewMovie">
            <h1 style="font-weight: bolder;">Categories</h1>
            {% if categories %}
            <ul>
            {% for category in categories %}
                <li>
                    <a href={% url 'movie:category' category.slug %}>
                        <img src="../../static/images/rango.jpg" alt="">
                        {{ category.name }}</a>
                </li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>

    </div>

    <div style="display: flex;justify-content: center;align-items: center;">
        <div id="googleMap" style="width: 500px;;height:380px;"></div>
    </div>

    <div style="text-align: center; margin-top: 20px; margin-bottom: 40px;"><h1>thanks for using</h1></div>


  
  <style>
  .viewMovie {
    width: 1226px;
    flex-shrink: 0;
    height: 318px;
    margin-top: 20px;
    }


    .viewMovie ul {
    display: flex;
    justify-content: space-between;
    }

    .viewMovie ul li {
    width: 234px;
    height: 280px;
    background-color: #fafafa;
    border-radius: 2px;
}



    .viewMovie ul li a {
    display: block;
    font-size: 14px;
    text-align: center;
    }

    .viewMovie ul li a img {
    width: 160px;
    height: 160px;
    opacity: 0.8;
    margin: 37px;
    }
  </style>


</body>
</html>