<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login_page</title>
    <link rel="stylesheet" type="text/css" href="../../static/layui-v2.6.8/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/login.css">
    <script src="../../static/layui-v2.6.8/layui/layui.js"></script>
    <script src="../../static/javascript/log.js"></script>
</head>
<body>
    <div class="layui-fluid" style="background-color: white; padding-left: 50px; font-size: xx-large;">
        <h1 style="color: turquoise;">PeaEye</h1>
    </div>
    
    <div class="layui-container:auto" > 
        <div class="layui-row">
          <div class="layui-col-md6">
            <div class="layui-carousel" id="test1" lay-filter="test1">
                <div carousel-item="">
                  <div class="postimg"><img src="../../static/images/Black_Widow_(2021_film)_poster.jpg" alt=""></div>
                  <div class="postimg"><img src="../../static/images/Jurassic.jpg" alt=""></div>
                  <div class="postimg"><img src="../../static/images/The_Suicide_Squad_poster.jpg" alt=""></div>
                </div>
              </div> 
          </div>
          <div class="layui-col-md6">
            <div class="login_center">
                <div class="login_top">
                    <div class="left">LOG IN</div>
                    <div class="right">Don't have an account?<a href="{% url 'movie:register' %}" target="_self">sign up here</a></div>
                    <div class="clear"></div>
                    <div class="under-line center"></div>
                </div>

                <form id="login_form" method="post" action="{% url 'movie:login' %}">
                    {% csrf_token %}
                    <div class="login_main center">
                        <div class="login-info">Username:&nbsp;<input class="login-info-input" type="text" name="username"
                                                                 id="loginName"
                                                                 placeholder="please input your username"/>
                        </div>
                        <div class="login-info">Password:&nbsp;&nbsp;<input class="login-info-input"
                                                                                        id="password"
                                                                                        type="password"
                                                                                        name="password"
                                                                                        placeholder="please input your password"/>
                        </div>
                    </div>

                    <div class="layui-btn-container">
                        <input type="submit" class="layui-btn" value="LOG IN"></input>
                    </div>
                </form>

            </div>


          </div>
        </div>
      </div>

</body>


</html>
