{% extends 'movie/base.html' %}
{% load staticfiles %}


{% block title_block %}
    Me - {{ user.username }}
{% endblock %}



{% block body_block %}

    <div class="profilebody">
        <div class="personinfo">  
            <img src="../../static/images/profile.jpg" alt="">
            <div class="username">{{user.username}}</div>
        </div>

        <div class="gap" style="background-color: white;width: 2%;"></div>

        <div class="recommend-list-body">
            <div class="rl-title">
                <h1>
                    Recommend List
                </h1>
                {% if user.is_authenticated %}
                    <a href="{% url 'movie:recommend_list_add' %}"><h2>Add Recommend List</h2></a>
                {% endif %}
            </div>
    
    
            <div class="rls">
    
    
                    {% for recommend_list in recommend_lists %}
                        <li class="rl">
                            <a class="rl-link" href="{% url 'movie:recommend_list' recommend_list.slug %}">
                                <div class="rl-info">
                                    <h1>{{ recommend_list.title }}</h1> </br>
                                </div>
                            </a>
                        </li>
                    {% endfor %}     
    
            </div>
        </div>
    </div>

   




{% endblock %}

