{% extends 'movie/base.html' %}
{% load static %}

{% block title_block %}
    Add a Movie
{% endblock %}

{% block body_block %}
    <h1>Add a Movie to {{ category.name }}</h1>
    <div>
        <form id="movie_add_form" method="post" action="{% url 'movie:movie_add' category.slug %}">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <input type="submit" name="submit" value="Add Movie" />
        </form> 
    </div>
{% endblock %}