{% extends 'movie/base.html' %}
{% load staticfiles %}

{% block title_block %}
    User - {{ other_user.username }}
{% endblock %}

{% block body_block %}
    <div>
        <h2>Personal Info</h2>

        <li>{{ other_user.username }}</li>
        <li>{{ other_user.email }}</li>
    </div>

    <div>
        <h2>Recommend Lists</h2>
        {% if recommend_lists %}
            {% for recommend_list in  recommend_lists%}
            <li>
                <a href={% url 'movie:recommend_list' recommend_list.slug %}>{{ recommend_list.title }}</a>
            </li>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}