{% extends 'movie/base_v.html' %}
{% load staticfiles %}

{% block title_block %}
    Add Movie To {{ recommend_list.title }}
{% endblock %}


{% block movies_block %}
    <h1>Recommend Movies</h1>


{% endblock %}


{% block body_block %}
    <form id="recommend_list_add_movie" class="rl-form" method="post" action="{% url 'movie:recommend_list_add_movie' recommend_list.slug %}">
        {% csrf_token %}
        <input class="movie-input" id="type" type="text" list="typelist" placeholder="Movie" name="movie" value="">
        <datalist id="typelist">
            {% for choice in  choices%}
            　　<option>{{ choice }}</option>
            {% endfor %}
        </datalist>
        <input type="submit" name="submit" value="Add Movie" />
    </form>

    <style type="text/css">

        .movie-input {
            width: 800px;
        }

        .rl-form input{
            height: 40px;
        }
    </style>

{% endblock %}