{% extends 'movie/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}


{% block body_block %}
    <h1>Register for movie</h1>
    {% if registered %}
        movie says: <strong>thank you for registering!</strong>
        <a href="{% url 'movie:index' %}">Return to the homepage.</a><br />
    {% else %}
        movie says: <strong>register here!</strong><br />
        <form id="user_form" method="post" action="{% url 'movie:register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" name="submit" value="Register" />
        </form>
    {% endif %}
{% endblock %}