.body_block{
    background-color: lightgrey;
    text-align: center;
}

.viewMovie {
        width: auto;
        flex-shrink: 0;
        margin-top: 20px;
}

.viewMovie ul {
    /*display: flex;*/
    justify-content: space-between;
}

.viewMovie ul li {
    margin-left: 15%;
    margin-top: 2px;
    width: 70%;
    height: 250px;
    background-color: #fafafa;
    border-radius: 2px;
}

.movie-img img{
    margin-top: 10%;
    margin-left: 3%;
    width: 150px;
    height: 220px;
    float: left;
}

.movie-title {

    text-align: left;
    margin-left: 15%;
    float: left;
}

.movie-info {
    margin-left: 4%;
    margin-top: 50px;
    text-align: left;
    float: left;
    width: 766px;
}

.category-img {
    margin-top: 2%;
    margin-left: 7%;
    width: auto;
    height: 220px;
    float: left;
}

.category-info {
    margin-top: 7%;
    margin-left: 10%;
    float: left;
}

.movie-views{
    text-align: right;
}

.movie-storyline {
    height: 50px;
}